<h1><%= title %></h1>
<%- partial( 'table', { productBacklog : productBacklog }) %>
<p><a href="<%= linkTo_productBacklogNew %>" title="<%= linkTo_productBacklogNewText %>"><%= linkTo_productBacklogNewText %></a></p>